@media all {
    .animation-wrapper {
      width: 100%;
    }
    .sphere-animation {
      position: relative;
      top: 0%;
      left: 0%;
      width: 480px;
      height: 480px;
    }
    .sphere path {
      fill: url("#sphereGradient");
      stroke-width: 1px;
      stroke: rgba(238, 17, 146, 0.35);
      backface-visibility: hidden;
    }
    @media (min-width: 500px) {
      .sphere path {
        stroke-width: 0.4px;
      }
    }
    @media (min-width: 1560px) {
      .section .container {
        max-width: 1360px;
      }
    }
    .container {
      width: 100%;
      display: block;
      padding: 1rem;
    }
    div,
    h1,
    p {
      background: transparent;
      border: 0;
      font-family: inherit;
      font-size: 100%;
      font-style: inherit;
      margin: 0;
      outline: 0;
      padding: 0;
      text-align: left;
      vertical-align: baseline;
      text-decoration: none;
    }
    :focus {
      outline: 0;
    }
    h1 {
      font-size: 100%;
      font-weight: normal;
    }
    * {
      font-family: sans-serif;
    }
    .black-fade {
      background: url("https://portaldefi.com/assets/black-fade") repeat-x center;
      background-size: auto 100%;
      height: 160px;
      width: 100%;
      position: absolute;
      bottom: 0;
      margin-bottom: -80px;
      z-index: 1;
    }
    ::-webkit-input-placeholder {
      color: #fff;
      opacity: 0.4;
    }
    h1 {
      font-family: "AvenirNextLTPro-Demi" !important;
      font-size: 68px;
      color: #ffffff;
      letter-spacing: -0.24px;
      line-height: 90px;
      margin-bottom: 12px;
      margin-top: 12px;
    }
    p {
      opacity: 0.8;
      font-family: "AvenirNext-Medium";
      font-size: 22px;
      color: #ffffff;
      letter-spacing: -0.46px;
      line-height: 28px;
    }
    .section {
      display: table;
      float: left;
      width: 100%;
      text-align: center;
      min-width: 1160px;
      position: relative;
      padding: 30px 0;
      table-layout: fixed;
    }
    .section .container {
      width: 100%;
      max-width: 1120px;
      display: inline-block;
    }
    .section.price-predictions {
      background: url(https://portaldefi.com/assets/background-price-predictions.jpg)
        center no-repeat #01161e;
      background-size: cover;
      height: 100vh;
    }
    .section.price-predictions h1 {
      line-height: 68px;
      font-size: 58px;
    }
    .section.price-predictions p {
      padding-top: 20px;
    }
    .section.price-predictions .container {
      width: 100%;
      display: inline-block;
    }
    .section.price-predictions .container .cover {
      float: left;
      max-width: 400px;
    }
    .section.price-predictions .container .text {
      float: right;
      width: 584px;
      margin-top: 136px;
      margin-right: 6px;
    }
    @media (min-width: 1560px) {
      .section .container {
        max-width: 1360px;
      }
    }
    @media (max-width: 1080px) {
      h1 {
        font-size: 32px !important;
        line-height: 38px !important;
        letter-spacing: -1px !important;
        text-align: center;
        margin-bottom: 2px;
      }
      p {
        font-size: 16px !important;
        letter-spacing: 0px !important;
        line-height: 24px !important;
        text-align: center;
      }
      .section {
        min-width: 100%;
        height: auto !important;
        width: 100%;
        min-height: auto !important;
      }
      .section .container {
        width: 88% !important;
        margin: 0 6%;
        height: auto !important;
        text-align: center;
      }
      .section.price-predictions {
        background: url(https://portaldefi.com/assets/background-price-predictions-mobile.jpg)
          top no-repeat #081119;
        background-size: cover;
        text-align: center;
      }
      .section.price-predictions .container .cover {
        float: none;
        margin: 64px 0 0 0;
        display: inline-block;
      }
      .section.price-predictions .container .text {
        margin: 0 0 64px 0;
        float: left;
        width: 100%;
        text-align: center;
      }
    }
    @media only screen and (min-width: 1560px) {
      .section.price-predictions {
        width: 100%;
        display: inline-block;
      }
      .section.price-predictions .container {
        width: 100%;
        display: inline-block;
      }
      .section.price-predictions .container .cover {
        float: left;
        max-width: 400px;
        margin-top: 25%;
      }
      .section.price-predictions .container .text {
        float: right;
        width: 584px;
        margin-top: 25%;
        margin-right: 6px;
      }
      .section.price-predictions .container .text p {
        font-size: 24px;
      }
    }
  }