@media all {
    @media (min-width: 1560px) {
      .section .container {
        max-width: 1360px;
      }
    }
    @media (max-width: 1080px) {
      h2 {
        font-family: "AvenirNextLTPro-Demi";
        font-size: 32px;
        color: #ffffff;
        letter-spacing: -2px;
        line-height: 60px;
        margin-bottom: 12px;
      }
    }
    .container {
      width: 100%;
      display: block;
      padding: 1rem;
    }
    div,
    h1,
    h2,
    p,
    img {
      background: transparent;
      border: 0;
      font-family: inherit;
      font-size: 100%;
      font-style: inherit;
      margin: 0;
      outline: 0;
      padding: 0;
      text-align: left;
      vertical-align: baseline;
      text-decoration: none;
    }
    :focus {
      outline: 0;
    }
    img {
      -ms-interpolation-mode: bicubic;
    }
    h1,
    h2 {
      font-size: 100%;
      font-weight: normal;
    }
    * {
      font-family: sans-serif;
    }
    ::-webkit-input-placeholder {
      color: #fff;
      opacity: 0.4;
    }
    h1 {
      font-family: "AvenirNextLTPro-Demi";
      font-size: 68px;
      color: #ffffff;
      letter-spacing: -0.24px;
      line-height: 90px;
      margin-bottom: 12px;
      margin-top: 12px;
    }
    h2 {
      font-family: "AvenirNextLTPro-Demi";
      font-size: 50px;
      color: #ffffff;
      letter-spacing: -2px;
      line-height: 62px;
      margin-bottom: 12px;
    }
    p {
      opacity: 0.8;
      font-family: "AvenirNext-Medium";
      font-size: 22px;
      color: #ffffff;
      letter-spacing: -0.46px;
      line-height: 28px;
    }
    .section {
      display: table;
      float: left;
      width: 100%;
      text-align: center;
      min-width: 1160px;
      position: relative;
      padding: 30px 0;
      table-layout: fixed;
    }
    .section .container {
      width: 100%;
      max-width: 1120px;
      display: inline-block;
    }
    @media (min-width: 1560px) {
      .section .container {
        max-width: 1360px;
      }
    }
    @media (max-width: 1080px) {
      h2 {
        font-family: "AvenirNextLTPro-Demi";
        font-size: 32px;
        color: #ffffff;
        letter-spacing: -2px;
        line-height: 60px;
        margin-bottom: 12px;
      }
      h1 {
        font-size: 32px !important;
        line-height: 38px !important;
        letter-spacing: -1px !important;
        text-align: center;
        margin-bottom: 2px;
      }
      p {
        font-size: 16px !important;
        letter-spacing: 0px !important;
        line-height: 24px !important;
        text-align: center;
      }
      .section {
        min-width: 100%;
        height: auto !important;
        width: 100%;
        min-height: auto !important;
      }
      .section .container {
        width: 88% !important;
        margin: 0 6%;
        height: auto !important;
        text-align: center;
      }
    }
    .section.team {
      height: 100vh;
      background-image: linear-gradient(0deg, rgb(8, 14, 17) 0%, #000000 90%);
      padding-top: 50px;
      padding-bottom: 0px;
      background-size: cover;
      height: auto;
      text-align: center;
    }
    .section.team .container {
      text-align: center;
      padding: 60px 0 160px 0;
    }
    .section.team .text h1 {
      text-align: center;
      line-height: 42px;
      font-size: 42px;
    }
    .section.team .text p {
      text-align: center;
      font-size: 18px;
      margin-bottom: 40px;
    }
    .section.team .text {
      display: inline-block;
    }
    .row {
      width: 100%;
    }
    .column {
      float: left;
      width: 33.33%;
      margin-bottom: 30px;
    }
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
    @media screen and (max-width: 650px) {
      .column {
        width: 100%;
        display: block;
      }
    }
    .team-container {
      padding: 16px;
    }
    h2.team-title {
      text-align: center;
      font-family: "AvenirNextLTPro-Demi";
      font-size: 22px;
      color: #ffffff;
      letter-spacing: 0.9px;
      line-height: 30px;
    }
    .team-role {
      text-align: center;
      font-family: "AvenirNext-Medium";
      font-size: 16px;
      color: #ffffff;
      opacity: 0.8;
    }
    .team-description {
      text-align: center;
      font-family: "AvenirNext-Medium";
      font-size: 14px;
      color: #ffffff;
      opacity: 0.8;
      line-height: 18px;
    }
    .circletag {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 30%;
      padding-bottom: 20px;
    }
  }